.cards {
  list-style: none;
  display: grid;
  height: calc(100dvh - 158px);
  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  justify-content: center;
  /*justify-items: center;*/
  overflow-y: auto;
  gap: 10px;
  padding-right: 10px;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  scroll-padding-inline: 0;


  &::-webkit-scrollbar {
    width: 7px;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--inverted-bg-color);
    border-radius: 5px;
  }

}

.cards .card {
  scroll-snap-align: start;
}

.scrollable {
  padding-right: 3px;
}