
.size_s{
  --spinner_size: 60px;
  --spiner_border_size: 10px
}
.size_m{
  --spinner_size: 100px;
  --spiner_border_size: 17px
}
.size_l{
  --spinner_size: 140px;
  --spiner_border_size: 23px
}
.size_xl{
  --spinner_size: 180px;
  --spiner_border_size: 30px
}

.Loader {
  height: var(--spinner_size);
  width: var(--spinner_size);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: var(--spiner_border_size) solid;
  border-color: var(--inverted-bg-color) transparent var(--inverted-bg-color) transparent;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0%{
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    border-color: var(--inverted-bg-color) transparent var(--inverted-bg-color) transparent;

  }
  33% {
    width: 100%;
    height: 100%;
    transform: rotate(720deg);
    border-color: transparent var(--inverted-bg-color) transparent var(--inverted-bg-color) ;

  }
  66%{
    width: 40%;
    height: 40%;
    transform: rotate(900deg);
    border-color: var(--secondary-color) transparent var(--secondary-color) transparent;
  }
  100%{
    width: 100%;
    height: 100%;
    transform: rotate(1080deg);
    border-color: var(--inverted-bg-color) transparent var(--inverted-bg-color) transparent;
}
}